---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: beskar7machines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: Beskar7Machine
    listKind: Beskar7MachineList
    plural: beskar7machines
    singular: beskar7machine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this Beskar7Machine belongs
      jsonPath: .metadata.labels.cluster.x-k8s.io/cluster-name
      name: Cluster
      type: string
    - description: Current state of the Beskar7Machine
      jsonPath: .status.phase
      name: State
      type: string
    - description: Machine ready status
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: Provider ID
      jsonPath: .spec.providerID
      name: ProviderID
      type: string
    - description: Machine object which owns this Beskar7Machine
      jsonPath: .metadata.ownerReferences[?(@.kind=='Machine')].name
      name: Machine
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              configURL:
                type: string
              imageURL:
                type: string
              osFamily:
                enum:
                - kairos
                - talos
                - flatcar
                - LeapMicro
                type: string
              providerID:
                type: string
              provisioningMode:
                enum:
                - RemoteConfig
                - PreBakedISO
                type: string
            required:
            - imageURL
            - osFamily
            type: object
          status:
            properties:
              addresses:
                items:
                  properties:
                    address:
                      maxLength: 256
                      minLength: 1
                      type: string
                    type:
                      enum:
                      - Hostname
                      - ExternalIP
                      - InternalIP
                      - ExternalDNS
                      - InternalDNS
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      maxLength: 10240
                      minLength: 1
                      type: string
                    reason:
                      maxLength: 256
                      minLength: 1
                      type: string
                    severity:
                      maxLength: 32
                      type: string
                    status:
                      type: string
                    type:
                      maxLength: 256
                      minLength: 1
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                type: string
              failureReason:
                type: string
              phase:
                type: string
              ready:
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
