---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: beskar7machinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: Beskar7MachineTemplate
    listKind: Beskar7MachineTemplateList
    plural: beskar7machinetemplates
    singular: beskar7machinetemplate
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              template:
                properties:
                  spec:
                    properties:
                      configurationURL:
                        pattern: ^https?://.*
                        type: string
                      hardwareRequirements:
                        properties:
                          minCPUCores:
                            minimum: 1
                            type: integer
                          minDiskGB:
                            minimum: 1
                            type: integer
                          minMemoryGB:
                            minimum: 1
                            type: integer
                        type: object
                      inspectionImageURL:
                        pattern: ^https?://.*
                        type: string
                      providerID:
                        type: string
                      targetImageURL:
                        pattern: ^https?://.*
                        type: string
                    required:
                    - inspectionImageURL
                    - targetImageURL
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
